<div class="container">
    <div class="row">
        <div class="col col-md-6">
            <h2>Column 1</h2>
            <p>Molestias iusto sapiente qui quia et. Quia odit nulla maxime quia nemo id. Voluptatem aut quae saepe qui modi nisi non quo. Rem rem quibusdam fuga. Et dolorem temporibus architecto id corporis molestiae. Natus nemo quia et quasi distinctio
                eligendi explicabo.</p>
            <p>Accusantium earum et deserunt ex ratione dolores. Autem et maiores consequuntur. Sit corrupti non tempore voluptatem.</p>
            <p>Reiciendis est qui nostrum. Qui aut saepe ipsum quae nemo architecto. Aut iure voluptatem totam expedita labore hic sit. Nostrum excepturi reprehenderit tempora possimus eius sed perspiciatis repudiandae.
            </p>

        </div>
        <div class="col col-md-6">
            <h2>Column 2</h2>
            <p>Est voluptatum vel nostrum nam sunt in non. Enim voluptas facilis exercitationem. Hic asperiores enim vel perferendis in quia eum. Error ea natus quas laudantium voluptatem velit. Alias exercitationem quia consequatur in inventore similique
                distinctio et.
            </p>
            <p>Accusantium quia inventore voluptatibus a est blanditiis. Molestiae est cupiditate occaecati a cum ut doloremque. Dignissimos atque sed a dolores error enim voluptates. Voluptatum exercitationem fugiat soluta fugiat deserunt quaerat dolor. Temporibus ex magnam veniam quibusdam. Assumenda soluta dolores quas sapiente qui eligendi aspernatur.</p>
        </div>
    </div>
</div>
