<div class="container">
    <div class="row">
        <div class="col col-md-6">
            
        </div>
        <div class="col col-md-6">
            <h2>Chat App</h2>
            <p>A simple chat app for testing out <a href="</a>">websockets</a> and <a href="https://socket.io/get-started/chat/">socket.io</a>.
            </p>
        </div>
    </div>
</div>
